---
import { t } from '../i18n/utils';
---

<footer class="py-8 px-6 border-t border-stone-100 dark:border-stone-800">
  <div class="max-w-2xl mx-auto text-center">
    <p class="text-xs text-stone-300 dark:text-stone-600" data-i18n="footer.copyright" set:html={t('footer.copyright')} />
  </div>
</footer>
