---
import { t } from '../i18n/utils';
---

<footer class="py-8 px-6 border-t border-stone-100">
  <div class="max-w-xl mx-auto text-center">
    <p class="text-xs text-stone-300" data-i18n="footer.copyright" set:html={t('footer.copyright')} />
  </div>
</footer>
